{% extends 'base.html' %}
{% block title %}
    Take stock realtime data
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">

                <h4 class="text-center my-4">
                    <a href="{% url 'chart_view' %}">Real time chart</a>
                </h4>
                <table id="stock-table" class="table table-dark">
                    <thead>
                    <tr>
                        <th scope="col">کمترین</th>
                        <th scope="col">بیشترین</th>
                        <th scope="col">آستانه بالا</th>
                        <th scope="col">آستانه پایین</th>
                        <th scope="col">اولین</th>
                        <th scope="col">ق پایانی</th>
                        <th scope="col">اختلاف</th>
                        <th scope="col">نماد</th>
                    </tr>
                    </thead>
                    <tbody id="stock_body">
                    {#                    <tr class="stock_body_row">#}
                    {#                        <th scope="row">1</th>#}
                    {#                        <td>655</td>#}
                    {#                        <td>654</td>#}
                    {#                        <td>455</td>#}
                    {#                        <td>567</td>#}
                    {#                        <td>5255</td>#}
                    {#                        <td>1416</td>#}
                    {#                        <td>fulad</td>#}
                    {##}
                    {#                    </tr>#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script>
        const websocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/take_stocks/'
        );

        function createTr(stock) {
            let tr = document.createElement('tr')
            let name = document.createElement('td')
            name.innerText = stock['name']
            let open = document.createElement('td')
            open.innerText = stock['open']
            let min = document.createElement('td')
            min.innerText = stock['min']
            let max = document.createElement('td')
            max.innerText = stock['max']
            let low = document.createElement('td')
            low.innerText = stock['low']
            let high = document.createElement('td')
            high.innerText = stock['high']
            let deference = document.createElement('td')
            deference.innerText = stock['deference']
            if (stock['deference'] < 0)
                deference.className = 'text-danger'
            else
                deference.className = 'text-success'

            let close = document.createElement('td')
            close.innerText = stock['close']
            tr.appendChild(low)
            tr.appendChild(high)
            tr.appendChild(max)
            tr.appendChild(min)
            tr.appendChild(open)
            tr.appendChild(close)
            tr.appendChild(deference)
            tr.appendChild(name)
            return tr
        }


        function fillData(stocks) {
            let stock_body = document.getElementById('stock_body')
            if (stock_body) {
                stock_body.remove()
            }
            let new_stock_body = document.createElement('tbody')
            new_stock_body.id = 'stock_body';
            document.getElementById('stock-table').appendChild(new_stock_body)
            for (let stock of stocks) {
                let tr = createTr(stock)
                document.getElementById('stock_body').appendChild(tr)
            }
        }

        websocket.onmessage = function (event) {
            let take_stocks = JSON.parse(event.data)
            fillData(take_stocks)
        }
    </script>
{% endblock %}