{% extends 'base.html' %}
{% block title %}
    Real time chart
{% endblock %}
{% block main %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="p-3" id="canvas_wrapper">
                    <h4 class="text-center">

                        <a  href="{% url 'take_stock' %}">stock table</a>
                    </h4>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        let times = [];
        let last_prices = []
        const data = {
            labels: times,
            datasets: [{
                label: 'My favorite stock',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: last_prices,
            }]
        };

        const config = {
            type: 'line',
            data: data,
            options: {}
        }

        // === include 'setup' then 'config' above ===
        var myChart = new Chart(
            document.getElementById('myChart'),
            config
        );

        function updateChart(chart, label, data) {

            chart.data.labels.push(label);
            chart.data.datasets.forEach((dataset) => {
                dataset.data.push(data);
            });
            chart.update();
        }

        const websocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chart_data/'
        );
        websocket.onmessage = function (event) {
            let last_price = JSON.parse(event.data)['last_price']
            let time = JSON.parse(event.data)['time']
            updateChart(myChart, time, last_price)
        }
    </script>
{% endblock %}